@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --branco: #d1528d;
    --azul: #76BDFF;
    --roxo: #CDA6FF;
    --vermelho: #FF9DA9;
    --amarelo: #FFCB9A;
    --roxo: #9662AE;
    --rosa: #ffbae4;
    --rosa-fundo: #FFDFDF;
    --botao-inativo: #c8e0ff;
}
body{
    background-color: var(--rosa-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-orincipal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.conteudo-principal span{
    color: var(--amarelo);
}
.botao{
    font-family: "Chakra Petch", Sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
}